@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap");


.yellow-button {
  align-self: start;
  padding: 10px;
  border-radius: 10px;
  background-color: #f4ce14;
  font-size: 12px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yellow-button:hover {
  background-color: #333333;
  color: #edefee;
}

.yellow-button__anim {
  animation: pop2 0.2s ease;
}

@media (min-width: 640px) {

  .yellow-button {
    font-size: 20px;
    padding: 20px;
  }
}

@keyframes pop2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}